################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/NetEx1
/ChatClient/x64/Debug
/ChatServer/x64/Debug/ChatServer.tlog
*.recipe
/ChatServer/x64/Debug
/Debug
/.vs
